@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "BLKCHCRY";
    src: url("./Assets/Fonts/BLKCHCRY.TTF")
}

@font-face{
    font-family: "Montserrat";
    src: url("./Assets/Fonts/Montserrat-VariableFont_wght.ttf")
}

@font-face{
    font-family: "Tahoma";
    src: url("./Assets/Fonts/Tahoma.ttf")
}